#back-div {
    display: flex;
    margin: 40px;
    height: 110px;
    width: 450px;
    background-color: rgb(41, 174, 41);
    border-radius: 20px;
}

#back-div:hover{
    box-shadow: 5px 10px antiquewhite;
}

#front-div {
    display: flex;
    left: 0;
    height: 110px;
    width: 360px;
    background-color: rgb(17, 107, 17);
    border-radius: 20px;
    border-top-right-radius: 15%55px;
    border-bottom-right-radius: 0%55px;
}

#front-div-left{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 20%;
    margin: 4%;
    border-radius: 13px;
}

#front-div-right{
    display: flex;
    flex-direction: column;
    width: 45%;
}

#front-div-right-top {
    display: flex;
    flex-direction: column-reverse;
    height: 50%;
    width: 100%;
}

#activity-text {
    width: 50%;
    background-color: white;
    font-weight: 620;
    font-size: 20px;
    padding: 3px 0px;
    border-radius: 20px;
    color: rgb(17, 107, 17);
}

#task-text {
    font-size: 27px;
    font-weight: 700;
    color: white;
    margin-bottom: 10px;
}

#front-div-right-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 50%;
    width: 100%;
}

#arrow {
    display: flex;
    flex-direction: column-reverse;
    justify-items: baseline;
    width: 55px;
    background-color: rgb(41, 174, 41);
    border-radius: 15px;
}

#lower-back-box {
    background-color: rgb(17, 107, 17);
    width: 100%;
    height: 50%;
    border-bottom-right-radius: 20px;
}

#lower-front-box {
    background-color: rgb(41, 174, 41);
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 32%50px;
    border-bottom-right-radius: 20px;
}

#arrow-icon {
    position: relative;
    top: 18px;
    left: 25px;
    padding-top: 6px;
    width: 35px;
    height: 27px;
    border-radius: 50%;
    background-color: white;
}

