.homepage{
    width:calc(100% - 120px)
}

.firstRow{
    height:10rem;
    width:100%;
    display: flex;
}

.quotes{
    display:'flex';
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:50%;
    border:1px solid black;
    color:white;
    background-color: black;;
}

.carousel{
    border:1px solid black;
    height:100%;
    width:50%;
}

.personalStats .personalStatsCards,.events .eventsList,.wallofFame .wallofFameList{
    display:flex;
}